@model IEnumerable<WebApplication1.Models.Model.Urunler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Urunler</h2>

<p>
    @Html.ActionLink("Yeni Ürün Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th>İşlemler</th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.Raw(item.Aciklama)
        </td>
        <td>
            <img width="100" height="100" src="@item.ResimURL"/>
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UrunId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.UrunId })
        </td>
    </tr>
}

</table>
