@model IEnumerable<WebApplication1.Models.Model.Kimlik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Kimlik</h2>
@*<p>
    @Html.ActionLink("Yeni Kimlik Ekle", "Create")
</p>*@
<table class="table table-bordered table-striped table-responsive-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ttile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan)
        </th>
        <th>
            İşlemler
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ttile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.Raw( item.Description)
        </td>
        <td>
            <img class="img-responsive" src="@item.LogoURL" width="200" height="200"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.KimlikId }) 
        
        </td>
    </tr>
}

</table>
